.container {
  width: 100%;
  min-height: 100vh;
  margin: none;
  padding: none;
  overflow: auto;
  * {
    margin: none;
    padding: none;
  }
}

.header {
  height: 32px;
  background: yellow;
  border: 1px solid black;
}

.body {
  display: flex;
  background: gray;
  border: 1px solid black;
}
