@use "../../utilities/colors.scss" as colors;

.container {
  width: 100%;
  min-height: 100vh;
  margin: none;
  padding: none;
  overflow: auto;
  * {
    margin: none;
    padding: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background: colors.$topbar_bg;
  color: colors.$topbar_text;
  border-bottom: 1px solid colors.$border;
}

.body {
  display: flex;
  background: colors.$bg;
}
