@use "../../utilities/colors.scss" as colors;

.messagesContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 32px);
  overflow-y: hidden;
  background: colors.$bg;
  color: colors.$text;
}

.messagesHeader {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid colors.$border;
  background: colors.$bg;
}

.messagesHeaderInline {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channelNameContainer {
  display: flex;
  align-items: center;
}

.channelName {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.messagesInfo {
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  border-bottom: 1px solid colors.$border;
  background: colors.$bg;
}

.messagesBody {
  padding: 0 20px;
  height: 100%;
  overflow-y: scroll;
}
