// - サイドバー背景
$sidebar_bg: #3F0E40;
// - アイテムハイライト＿選択時
$selected_item: #1164A3;
// - アイテムテキスト＿選択位j
$selected_text: #ffffff;
// - アイテムハイライト＿ホバー時
$hovered_item: #4D2A51;
// ホバーテキスト
$hovered_text: #fff;
// - テキスト
$theme-text: #ccc;
// - アクティブアイコン
$active-icon: #2BAC76;
// - メンションバッジ
$mentioned_badge: #ECE7EC;
// - トップナビゲーションBG
$topbar_bg: #350D36;
// - トップナビゲーションテキスト
$topbar_text: #ffffff;

$text: #1d1c1d;
$bg: #ffffff;
$border: #9da6ab;