// - サイドバー背景
$sidebar_bg: #3f0e40;
// - アイテムハイライト＿選択時
$selected_item: #1164a3;
// - アイテムテキスト＿選択位j
$selected_text: #ffffff;
// - アイテムハイライト＿ホバー時
$hovered_item: #4d2a51;
// ホバーテキスト
$hovered_text: #fff;
// - テキスト
$theme-text: #ccc;
// - アクティブアイコン
$active-icon: #2bac76;
// - メンションバッジ
$mentioned_badge: #ece7ec;
// - トップナビゲーションBG
$topbar_bg: #350d36;
// - トップナビゲーションテキスト
$topbar_text: #ffffff;

$text: #1d1c1d;
$bg: #ffffff;
$border: #9da6ab;
$hover_bg: #eee;
