html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.strike {
  text-decoration: line-through;
}
.code {
  background: rgba(29, 28, 29, 0.04);
  border: 1px solid rgba(29, 28, 29, 0.04);
  padding: 2px 3px 1px 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #e01e5a;
  line-height: 1.5;
  font-variant-ligatures: none;
  word-wrap: break-word;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
}
.mentionRange {
  font-weight: 500;
  background: #f2c74466;
  border-radius: 3px;
  padding: 0 2px 1px 2px;
}
.mention {
  color: #1264a3;
  background: #1d9bd11a;
  border-radius: 3px;
  padding: 0 2px 1px 2px;
}
.link {
  text-decoration: underline;
  color: #1264a3;
}
