@use "../../utilities/colors.scss" as colors;

.container {
  padding: 8px 20px;
  &:hover {
    background: #f7f7f8;
  }
}

.messageContainer {
  display: flex;
}

.author {
  margin-right: 8px;
}

.authorIcon {
  width: 36px;
  height: 36px;
  margin-top: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.noAuthorIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: lightgray;
  border-radius: 3px;
  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
  }
}

.rightBox {
  flex-grow: 1;
}

.authorInfo {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.authorName {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timestamp {
  font-size: 12px;
  color: #616061;
  margin-left: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root {
  display: flex;
  font-size: 13px;
  color: #616061;
  margin: 3px 0;
}
.rootMessage {
  display: block;
  width: 100px;
  color: #1264a3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.content {
  font-size: 14px;
  margin-bottom: 4px;
  width: auto;
}

.threadButton {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 400px;
  margin-bottom: 4px;
  padding: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    background: #fff;
    border: 1px solid #dadcda;
    .openButton {
      display: block;
    }
  }
}

.replyUserIconContainer {
  display: flex;
  max-width: 20%;
  height: 24px;
  overflow-x: hidden;
}

.replyUserIcon {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  margin-right: 2px;
}

.noReplyUserIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: lightgray;
  border-radius: 3px;
  margin-right: 2px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.threadInfo {
  margin: 0px 0 0 4px;
  font-size: 13px;
  color: #1264a3;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}

.openButton {
  display: none;
  margin-left: auto;
  margin-right: 4px;
  svg {
    width: 12px;
    height: 12px;
    fill: #616061;
  }
}
